button.code-button {
  min-width: 82px !important;
}
.tooltip {
  position: relative;
  display: block;
}

[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:after {
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;

  background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: #ffffff;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 7px 12px;
  position: absolute;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;

  opacity: 0;
  left: -9999px;
  top: 90%;

  content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
  top: 230%;
  left: 0;
  opacity: 1;
}
[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:after {
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;

  background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: #ffffff;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 7px 12px;
  position: absolute;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;

  opacity: 0;
  left: -9999px;
  top: -210% !important;

  content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
  top: 130%;
  left: 0;
  opacity: 1;
}

#airing_list {
  display: none;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

#screen_movie_list {
  margin-top: 10px;
}
/*  .spinner {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  background-color: #333;*/

/*  margin: 100px auto;*/
/*  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;*/
/*  animation: sk-rotateplane 1.2s infinite ease-in-out;*/
/*}*/

/*@-webkit-keyframes sk-rotateplane {*/
/*  0% { -webkit-transform: perspective(120px) }*/
/*  50% { -webkit-transform: perspective(120px) rotateY(180deg) }*/
/*  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }*/
/*}*/

/*@keyframes sk-rotateplane {*/
/*  0% {*/
/*    transform: perspective(120px) rotateX(0deg) rotateY(0deg);*/
/*    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)*/
/*  } 50% {*/
/*    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);*/
/*    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)*/
/*  } 100% {*/
/*    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);*/
/*    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);*/
/*  }*/

/*}*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.badge-on-image {
  position: absolute;
  top: 2px;
  /*bottom: 2px; !* position where you want it *!*/
  right: 2px;
  padding: 5px 12px;
}

#inner_screen_movie > div {
  margin-bottom: 5px;
}

.card-body {
  padding: 0!important;
}

.card-title {
  padding: 1rem!important;
}

button#add_whitelist {
  float: right;
}

button.btn-favorite {
  background-color: #e0ff42;
}
