{% extends "base.html" %}
{% block content %}

<div>
  <form id='program_list'>
  {{ macros.setting_input_text_and_buttons('code', '작품 Code', [['analysis_btn', '분석'], ['go_linkkf_btn', 'Go Linkkf']], desc='URL https://linkkf.app/[코드]/ 형식에서 코드부분 숫자 (예> 22005 원피스)') }}
  </form>
  <form id="program_auto_form">
  <div id='episode_list'></div>
  <form>
</div> <!--전체-->

<script type="text/javascript">
var package_name = 'linkkf-yommi';
var linkkf_url = "{{arg['linkkf_url']}}";
var current_data = " data "

$(document).ready(function(){
  if ( "{{arg['current_code']}}" != "None" ) {
    document.getElementById("code").value = "{{arg['current_code']}}";
    document.getElementById("analysis_btn").click();
  }
});

$("body").on('click', '#analysis_btn', function(e){
  e.preventDefault();
  code = document.getElementById("code").value
 
  $.ajax({
    url: '/' + package_name + '/ajax/analysis',
    type: "POST",
    cache: false,
    data: {code:code},
    dataType: "json",
    success: function (ret) {
      if (ret.ret) {
        make_program(ret)
      } else {
        $.notify('<strong>분석 실패</strong><br>' + ret.log, {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#go_linkkf_btn', function(e){
  e.preventDefault();
  window.open(linkkf_url, "_blank");
});


function make_program(data) {
  str = '';
  tmp = '<div class="form-inline">'
  tmp += m_button('check_download_btn', '선택 다운로드 추가', []);
  tmp += m_button('all_check_on_btn', '전체 선택', []);
  tmp += m_button('all_check_off_btn', '전체 해제', []);
  tmp += '&nbsp;&nbsp;&nbsp;&nbsp;<input id="new_title" name="new_title" class="form-control form-control-sm" value="'+data.title+'">'
  tmp += '</div>'
  tmp += '<div class="form-inline">'
  tmp += m_button('apply_new_title_btn', '저장폴더명 변경', []);
  tmp += '&nbsp;&nbsp;&nbsp;&nbsp;<input id="new_season" name="new_season" class="form-control form-control-sm" value="'+data.season+'">'
  tmp += m_button('apply_new_season_btn', '시즌 변경 (숫자만 가능)', []);
  tmp += m_button('search_tvdb_btn', 'TVDB', []);
  tmp += m_button('add_whitelist', '스케쥴링 추가', []);
  tmp += '</div>'
  tmp = m_button_group(tmp)
  str += tmp
  // program
  str += m_hr_black();
  str += m_row_start(0);
  tmp = ''
  if (data.poster_url != null) 
    tmp = '<img src="' + data.poster_url + '" class="img-fluid">';
  str += m_col(3, tmp)
  tmp = ''
  tmp += m_row_start(0);
  tmp += m_col(3, '제목', 'right');
  tmp += m_col(9, data.title);
  tmp += m_row_end();
  tmp += m_row_start(0);
  tmp += m_col(3, '시즌', 'right');
  tmp += m_col(9, data.season);
  tmp += m_row_end();
  for (i in data.detail) {
    tmp += m_row_start(0);
    key = Object.keys(data.detail[i])[0]
    value = data.detail[i][key]
    tmp += m_col(3, key, 'right');
    tmp += m_col(9, value);
    tmp += m_row_end();
  }

  str += m_col(9, tmp)
  str += m_row_end();
  

  
  str += m_hr_black();
  for (i in data.episode) {
    str += m_row_start();
    // tmp = '<img src="' + data.episode[i].image + '" class="img-fluid">'
    // str += m_col(3, tmp)
    tmp = '<strong>' + data.episode[i].title+ '</strong>';
    tmp += '<br>';
    tmp += data.episode[i].filename + '<br><p></p>';
    
    tmp += '<div class="form-inline">'
    tmp += '<input id="checkbox_'+data.episode[i].code+'" name="checkbox_'+data.episode[i].code+'" type="checkbox" checked data-toggle="toggle" data-on="선 택" data-off="-" data-onstyle="success" data-offstyle="danger" data-size="small">&nbsp;&nbsp;&nbsp;&nbsp;'
    tmp += m_button('add_queue_btn', '다운로드 추가', [{'key':'code', 'value':data.episode[i].code}])
    tmp += '</div>'
    str += m_col(12, tmp)
    str += m_row_end();
    if (i != data.length -1) str += m_hr(0);
  }
  document.getElementById("episode_list").innerHTML = str;
  $('input[id^="checkbox_"]').bootstrapToggle()
}


$("body").on('click', '#all_check_on_btn', function(e){
  e.preventDefault();
  $('input[id^="checkbox_"]').bootstrapToggle('on')
});

$("body").on('click', '#all_check_off_btn', function(e){
  e.preventDefault();
  $('input[id^="checkbox_"]').bootstrapToggle('off')
});

$("body").on('click', '#search_tvdb_btn', function(e){
  e.preventDefault();
  new_title = document.getElementById("new_title").value
  url = 'https://www.thetvdb.com/search?query=' + new_title
  window.open(url, "_blank");
});

$("body").on('click', '#add_whitelist', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/add_whitelist',
    type: "POST",
    cache: false,
    dataType: "json",
    success: function (ret) {
      if (ret.ret) {
        $.notify('<strong>추가하였습니다.</strong><br>', {
          type: 'success'
        });
        make_program(ret)
      } else {
        $.notify('<strong>추가 실패</strong><br>' + ret.log, {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#apply_new_title_btn', function(e){
  e.preventDefault();
  let new_title = document.getElementById("new_title").value
  $.ajax({
    url: '/' + package_name + '/ajax/',
    type: "POST",
    cache: false,
    data: {new_title:new_title},
    dataType: "json",
    success: function (ret) {
      if (ret.ret) {
        $.notify('<strong>적용하였습니다.</strong><br>', {
          type: 'success'
        });
        console.log(ret)
        make_program(ret)
      } else {
        $.notify('<strong>적용 실패</strong><br>' + ret.log, {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#apply_new_season_btn', function(e){
  e.preventDefault();
  new_season = document.getElementById("new_season").value
  if($.isNumeric(new_season) == false) {
    $.notify('<strong>시즌은 숫자여야 합니다.</strong><br>' + ret.log, {
        type: 'warning'
      });
  } else {
    $.ajax({
      url: '/' + package_name + '/ajax/apply_new_season',
      type: "POST",
      cache: false,
      data: {new_season:new_season},
      dataType: "json",
      success: function (ret) {
        if (ret.ret) {
          $.notify('<strong>적용하였습니다.</strong><br>', {
            type: 'success'
          });
          make_program(ret)
        } else {
          $.notify('<strong>적용 실패</strong><br>' + ret.log, {
            type: 'warning'
          });
        }
      }
    });
  }
});

// 하나씩 다운로드 추가
$("body").on('click', '#add_queue_btn', function(e){
  e.preventDefault();
  code = $(this).data('code');
  $.ajax({
    url: '/' + package_name + '/ajax/add_queue',
    type: "POST", 
    cache: false,
    data: {code:code},
    dataType: "json",
    success: function (data) {
      if (data.ret == 'success') {
        $.notify('<strong>다운로드 작업을 추가 하였습니다.</strong>', {
          type: 'success'
        });
      } else if (data.ret == 'fail') {
        $.notify('<strong>이미 큐에 있습니다. 삭제 후 추가하세요.</strong>', {
          type: 'warning'
        });
      } else if (data.ret == 'no_data') {
        $.notify('<strong>잘못된 코드입니다.</strong>', {
          type: 'warning'
        });
      } else {
        $.notify('<strong>추가 실패</strong><br>' + ret.log, {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#check_download_btn', function(e){
  e.preventDefault();
  all = $('input[id^="checkbox_"]')
  str = ""
  for (i in all) {
    if (all[i].checked){
      code = all[i].id.split('_')[1]
      str += code+","
    }
  }
  if (str == "") {
    $.notify('<strong>선택하세요.</strong>', {
      type: 'warning'
    });
    return
  }
  $.ajax({
    url: '/' + package_name + '/ajax/add_queue_checked_list',
    type: "POST", 
    cache: false,
    data: {code:str},
    dataType: "json",
    success: function (data) {
      if (data.ret == 'success') {
        $.notify('<strong>'+data.log+'개를 추가하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>'+data.log+'</strong>', {
          type: 'warning'
        });
      }
    }
  });

});



</script>
{% endblock %}
