{% extends "base.html" %}
{% block content %}
    <div>
        미구현
    </div>
{#<div>#}
{#  <form id="form_search" class="form-inline" style="text-align:left">#}
{#    <div class="container-fluid">#}
{#      <div class="row show-grid">#}
{#        <span class="col-md-4">#}
{#          <select id="order" name="order" class="form-control form-control-sm">#}
{#            <option value="desc">최근순</option>#}
{#            <option value="asc">오래된순</option>#}
{#          </select>#}
{#          <select id="option" name="option" class="form-control form-control-sm">#}
{#            <option value="all">전체</option>#}
{#            <option value="completed">완료</option>#}
{#          </select>#}
{#        </span>#}
{#        <span class="col-md-8">#}
{#          <input id="search_word" name="search_word" class="form-control form-control-sm w-75" type="text" placeholder="" aria-label="Search">#}
{#          <button id="search" class="btn btn-sm btn-outline-success">검색</button>#}
{#          <button id="reset_btn" class="btn btn-sm btn-outline-success">리셋</button>#}
{#        </span>#}
{#      </div>#}
{#    </div>#}
{#  </form>#}
{#  <div id='page1'></div>#}
{#  {{ macros.m_hr_head_top() }}#}
{#  {{ macros.m_row_start('0') }}#}
{#  {{ macros.m_col(2,  macros.m_strong('Poster')) }}#}
{#  {{ macros.m_col(10,  macros.m_strong('Info')) }}#}
{#  {{ macros.m_row_end() }}#}
{#  {{ macros.m_hr_head_bottom() }}#}
{#  <div id="list_div"></div>#}
{#  <div id='page2'></div>#}
{#</div>#}
{#<script type="text/javascript">#}
{#const package_name = "{{arg['package_name']}}";#}
{#const sub = "{{arg['sub']}}";#}
{#const sub = "list";#}
{#const sub = ""#}
{#const current_data = null;#}
{##}
{#const get_list = () => {#}
{#    $.ajax({#}
{#        url: '/' + package_name + '/ajax' + sub + '/web_list',#}
{#        type: "POST",#}
{#        cache: false,#}
{#        dataType: 'json',#}
{#        success: (ret) => {#}
{#                  if (ret.ret === 'success' && ret.data != null) {#}
        {#make_program(ret.data)#}
{#                      console.log(ret.data)#}
{#      } else {#}
{#        $.notify('<strong>분석 실패</strong><br>' + ret.log, {type: 'warning'});#}
{#      }#}
{##}
{#        }#}
{#    });#}
{##}
{#}#}
{##}
{#$(document).ready(function(){#}
  {#global_sub_request_search('1');#}
{#    get_list()#}
{#});#}
{##}
{#$("body").on('click', '#page', function(e){#}
{#  e.preventDefault();#}
{#  global_sub_request_search($(this).data('page'));#}
{#});#}
{##}
{##}
{##}
{#</script>#}
{% endblock %}